.delivery {
  max-width: 600px;
  margin: 95px auto 40px;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form div {
  display: flex;
  flex-direction: column;
}

form label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

form input,
form select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

form input:focus,
form select:focus {
  border-color: #4caf50;
}

.sub-btn,
.next-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.sub-btn:hover,
.next-btn:hover {
  background-color: #45a049;
}

.error {
  color: red;
  font-size: 12px;
}

.form-gender {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 30px;
}

.form-gender-m {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 5px;
}
