@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app {
  margin: auto;
  position: relative;
  width: 80%;
  flex: 1;
}
.app-all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


@keyframes fadein {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1  ;
  }
}